<div class = "container-sm p-4 mt-3">
  <h1 class = "user-header">Body Measurements</h1>
  <%= simple_form_for(@user, html: { class: "user-form" }) do |f| %>
    <%= f.input :height %>
    <%= f.input :weight %>
    <%= f.input :body_fat%>
    <%= f.input :chest%>
    <%= f.input :arms %>
    <%= f.input :legs%>
    <%= f.button :submit, "Submit", class: "button" %>
    <%= link_to "Back", user_path, class: "back-button ms-2" %>
  <% end %>
</div>
