<div class="container">
  <div>
    <% if params[:document].present? %>
      <% if @referral_letters.present? %>
        <div class = "documents-scanned-container">
          <h1>Referral Letters</h1>
          <% @referral_letters.each do |document| %>
            <div class = "documents-flex">
              <p><%= document.date %>: Dr. <%= document.doctor_name %> - <%= document.country %></p>
              <p class = "ms-3"><%= document.comment %></p>
              <%= link_to document_path(document) do %>
                <span class="material-symbols-outlined scanned-doc document-icon-button">description</span>
              <% end %>
              <% # TO REMOVE ONCE QR WORKS %>
              <%= link_to "PDF", document_path(document, format: :pdf), class: "link-pdf" %>
            </div>
          <% end %>
        </div>
      <% elsif @immunization_records.present? %>
        <div class = "documents-scanned-container">
          <h1>Immunization Records</h1>
          <% @immunization_records.each do |document| %>
            <div class = "documents-flex">
              <p><%= document.date %>: Dr. <%= document.doctor_name %> - <%= document.country %></p>
              <p class = "ms-3"><%= document.comment %></p>
              <%= link_to document_path(document) do %>
                <span class="material-symbols-outlined scanned-doc document-icon-button">description</span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% elsif @pathology_records.present? %>
        <div class = "documents-scanned-container">
          <h1>Pathology Records</h1>
          <% @pathology_records.each do |document| %>
            <div class = "documents-flex">
              <p><%= document.date %>: Dr. <%= document.doctor_name %> - <%= document.country %></p>
              <p class = "ms-3"><%= document.comment %></p>
              <%= link_to document_path(document) do %>
                <span class="material-symbols-outlined scanned-doc document-icon-button">description</span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% elsif @prescription_records.present? %>
        <div class = "documents-scanned-container">
          <h1>Prescription Records</h1>
          <% @prescription_records.each do |document| %>
            <div class = "documents-flex">
              <p><%= document.date %>: Dr. <%= document.doctor_name %> - <%= document.country %></p>
              <p class = "ms-3"><%= document.comment %></p>
              <%= link_to document_path(document) do %>
                <span class="material-symbols-outlined scanned-doc document-icon-button">description</span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% elsif @radiology_reports.present? %>
        <div class = "documents-scanned-container">
          <h1>Radiology Reports</h1>
          <% @radiology_reports.each do |document| %>
            <div class = "documents-flex">
              <p><%= document.date %>: Dr. <%= document.doctor_name %> - <%= document.country %></p>
              <p class = "ms-3"><%= document.comment %></p>
              <%= link_to document_path(document) do %>
                <span class="material-symbols-outlined scanned-doc document-icon-button">description</span>
              <% end %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p></p>
      <% end %>
    <% else %>
      <div class = "upload-card mt-5">
        <div>
          <p class = "upload-label">Upload a Document</p>
          <div data-controller="submit-form">
            <%= simple_form_for(@document, data: { action: "change->submit-form#send", remote:true }, html: { class: "upload-form" }) do |f| %>
              <%= f.input :photo, as: :file, label: ('<i class="fa-solid fa-cloud-arrow-up"></i>').html_safe , wrapper_html:{class: "input-photo "} %>
            <% end %>
          </div>
          <%# <i class="fa-solid fa-cloud-arrow-up"></i> %>
          <%# wrapper_html:{class: "input-container"} %>
          <%#= link_to "Upload", new_document_path, class: "button upload-button" %>
        </div>
      </div>
      <div class = "document-upload-section">


        <div class = "flex-container-document">
          <%= link_to documents_path(document: "Referral Letters"), class: "link " do %>
            <span class="material-symbols-outlined document-icon-button">clinical_notes</span>
            <p>Referral Letters</p>
          <% end %>
        </div>
        <div class = "flex-container-document">
          <%= link_to documents_path(document: "Immunization Records"), class: "link" do %>
            <span class="material-symbols-outlined document-icon-button">syringe</span>
            <p>Immunization Records</p>
          <% end %>
        </div>
        <div class = "flex-container-document">
          <%= link_to documents_path(document: "Pathology Records"), class: "link" do %>
            <span class="material-symbols-outlined document-icon-button">labs</span>
            <p>Pathology Records</p>
          <% end %>
        </div>
        <div class = "flex-container-document">
          <%= link_to documents_path(document: "Prescription Records"), class: "link" do %>
            <span class="material-symbols-outlined document-icon-button">pill</span>
            <p>Prescription Records</p>
          <% end %>
        </div>
        <div class = "flex-container-document">
          <%= link_to documents_path(document: "Radiology Reports"), class: "link" do %>
            <span class="material-symbols-outlined document-icon-button">radiology</span>
            <p>Radiology Reports</p>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
