<div class = "show-container">
<h1>Translate Document</h1>
<p><%= @document.date %>: Dr.<%= @document.doctor_name %> - <%= @document.country %></p>
<p><%= @document.comment %></p>

<%= form_with url: document_path(@document), method: :get, class: "d-flex" do %>
  <%= select_tag :query,
                 options_for_select([["English", "en"], ["Japanese", "ja"], ["Spanish", "es"]], params[:query]),
                 { include_blank: true, class: "form-control" } %>
  <%= submit_tag "Translate", class: "button" %>
<% end %>

<%= @sentences %>

 <% if params[:query].present? %>
<div class =  "container mt-5 text-center" data-controller = "document">
<button id = "share" class = "button" data-action="click->document#revealContent">Share</button>
</div>
<div class="qr-container d-none" data-document-target="qr-code-show">
  <%= @svg.html_safe %>
</div>
<% end %>
</div>
