<div class = "show-container">
<h1>Translate Document</h1>
<p><%= @document.date %>: Dr.<%= @document.doctor_name %> - <%= @document.country %></p>
<p><%= @document.comment %></p>

<% if params[:query].present? %>
<div class =  "container mt-3 mb-3 text-center" data-controller = "document">
<h1 id = "share" data-action="click->document#revealContent">Share Your Document</h1>
<button id = "share" class = "home-icon-card"  data-action="click->document#revealContent">
          <%= image_tag "qr_code.png", class: "img-fluid icon-image" %>
</button>
<button id = "share" class = "home-icon-card"  data-action="click->document#revealContent">
          <%= image_tag "airdrop.png", class: "img-fluid icon-image" %>
</button>
<button id = "share" class = "home-icon-card"  data-action="click->document#revealContent">
          <%= image_tag "link.png", class: "img-fluid icon-image" %>
</button>
<button id = "share" class = "home-icon-card"  data-action="click->document#revealContent">
          <%= image_tag "mail.png", class: "img-fluid icon-image" %>
</button>
</div>
<div class="qr-container mb-3 d-none" data-document-target="qr-code-show">
  <%= @svg.html_safe %>
</div>
<% end %>

<%= form_with url: document_path(@document), method: :get, class: "d-flex" do %>
  <%= select_tag :query,
                 options_for_select([["English", "en"], ["Japanese", "ja"], ["Spanish", "es"]], params[:query]),
                 { include_blank: true, class: "form-control" } %>
  <%= submit_tag "Translate", class: "button" %>
<% end %>

<div class = "uploaded-content">
<% sentence_array = @sentences.split(",") %>
<% sentence_array.each do |sentence| %>
  <li class = "content"><%= sentence.chomp('"').reverse.chomp('"').reverse %></li>
<% end %>
 </div>




</div>
