<h1>Translate Document</h1>
<p><%= @document.date %><%= @document.doctor_name %><%= @document.country %></p>
<p><%= @document.comment %></p>
<%= @document.photo.key %>





<div class="container my-5">
  <%= @svg.html_safe %>
</div>
