<div class = "show-container">
<h1>Translate Document</h1>
<p><%= @document.date %>: Dr.<%= @document.doctor_name %> - <%= @document.country %></p>
<p><%= @document.comment %></p>

<div id= "share">
  <%= simple_form_for @document do |f| %>
    <%= f.input :language, collection: Document::LANGUAGES, label: 'Choose a language' %>
    <%= f.button :submit, "Share", class: "button" %>
  <% end %>
</div>

<%= @sentences %>

 <% if params[:query].present? %>
<div class =  "container mt-5 text-center" data-controller = "document">
<button id = "share" class = "button" data-action="click->document#revealContent">Share</button>
</div>
<div class="qr-container d-none" data-document-target="qr-code-show">
  <%= @svg.html_safe %>
</div>
<% end %>
</div>
