<!DOCTYPE html>
<html>
  <head>
    <title>HealthPocket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>



    <%= yield %>
  </body>
</html>

<%# <p class="notice"><%= notice</p> %>
<%# <p class="alert"><%= alert</p> %>
